@import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture|Black+Han+Sans|Cute+Font|Do+Hyeon|Dokdo|East+Sea+Dokdo|Gaegu|Gamja+Flower|Gothic+A1|Gugi|Hi+Melody|Jua|Kirang+Haerang|Nanum+Brush+Script|Nanum+Gothic|Nanum+Gothic+Coding|Nanum+Myeongjo|Nanum+Pen+Script|Poor+Story|Song+Myung|Stylish|Sunflower:300|Yeon+Sung');
@import url('https://fonts.googleapis.com/css?family=Anton|Arimo|Bitter|Cabin|Crimson+Text|Do+Hyeon|Dosis|Eczar|Fira+Sans|Gaegu|Hanalei+Fill|Inconsolata|Indie+Flower|Josefin+Sans|Kirang+Haerang|Lato|Lora|Merienda|Merriweather|Montserrat|Muli|Nanum+Brush+Script|Nanum+Gothic|Nanum+Gothic+Coding|Nanum+Myeongjo|Nanum+Pen+Script|Noto+Sans|Noto+Serif|Nunito|Open+Sans|Open+Sans+Condensed:300|Oswald|Oxygen|PT+Sans|PT+Sans+Narrow|PT+Serif|Playfair+Display|Poppins|Quicksand|Raleway|Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab|Slabo+27px|Source+Sans+Pro|Sunflower:300|Titillium+Web|Ubuntu|Work+Sans');

body {overflow: hidden;}

header {width: 100%; height: 100px; background: #555; font-family: 'Nanum Gothic', sans-serif;}
#main_logo {height:50px; margin: 25px 7.5% 0 7.5%; float: left;}
#check_box {margin: 45px 0 0 13%; float: left;}
header span {margin: 40px 5% 0 0; float: left;}
#search_bar {margin: 30px 10px 0 0; float: left; font-size: 26px;}
#research_btn {margin-top: 30px; float: left; border:none; color: #fff; font-size: 34px;}

#content {width: 100%;}
.font_box {width: 25%; float: left;}
.font_box:nth-child(1) {width: 50%; background: #eee;}
.font_box:nth-child(2) {width: 50%; background: #ddd;}
.font_box:nth-child(3) {background: rgb(230, 230, 230);}
.font_box:nth-child(4) {background: rgb(220, 220, 220);}
.font_box:nth-child(5) {background: rgb(210, 210, 210);}
.font_box:nth-child(6) {background: rgb(200, 200, 200);}
.font_box:nth-child(7) {float: right; background: rgb(190, 190, 190);}
.font_box:nth-child(8) {background: rgb(180, 180, 180);}
.font_box:nth-child(9) {background: rgb(170, 170, 170);}
.font_box:nth-child(10) {background: rgb(160, 160, 160);}
.font_box:nth-child(11) {background: rgb(150, 150, 150);}
.font_box:nth-child(12) {background: rgb(140, 140, 140);}
.font_box:nth-child(13) {background: rgb(130, 130, 130);}
.font_box:nth-child(14) {background: rgb(120, 120, 120);}
.font_box:nth-child(15) {background: rgb(110, 110, 110);}
.font_box:nth-child(16) {background: rgb(100, 100, 100);}
.font_box:nth-child(17) {width:50%; background: rgb(90, 90, 90);}
.font_box .infor {font-size: 25px; font-family: 'Nanum Gothic', sans-serif;}
.font_box .example {font-size: 25px;}
.font_box .font {display: block; font-size: 35px;}

footer {width: 100%; height: 50px; background: #222;}
footer span {width: 30%; margin: 12.5px 5%; float: left; font-size: 14px; color:#fff;}
#sub_logo {height:25px; margin: 12.5px 9.5%; float: left;}

@media all and (max-width: 1360px) {
    #check_box {margin: 45px 0 0 5%;}
    .font_box:nth-child(5) {width: 50%;}
    .font_box:nth-child(7) {width: 50%; float: left;}
    .font_box:nth-child(11) {width: 50%;}
    .font_box:nth-child(12) {width: 50%;}
}
@media all and (max-width: 800px) {
    body {overflow: auto;}
    #main_logo {margin: 25px 0 0 7.5%;}

    .font_box {width: 100%;}
    .font_box:nth-child(1) {width: 100%;}
    .font_box:nth-child(2) {width: 100%;}
    .font_box:nth-child(5) {width: 100%;}
    .font_box:nth-child(7) {width: 100%;}
    .font_box:nth-child(11) {width: 100%;}
    .font_box:nth-child(12) {width: 100%;}
    .font_box:nth-child(17) {width: 100%;}
    .font_box .infor {font-size: 20px;}
    .font_box .example {font-size: 20px;}
    .font_box .font {font-size: 30px;}
}

@media all and (max-width: 700px) {
    body {overflow: auto;}
    #main_logo {height:50px; margin: 25px 5% 0 5%;}
    #check_box {margin: 20px 0 0 0; float: none; display: inline-block;}
    header span {margin: 15px 20% 0 0; float: none; display: inline-block;}
    #search_bar {width: 40%; margin: 15px 2% 0 0; float: none; display: inline-block; font-size: 18px;}
    #research_btn {margin: 15px 0 0 0; float: none; display: inline-block;font-size: 26px;}

    footer span {width: 50%; margin: 12.5px 0 0 3%;}
    #sub_logo {height:25px; margin: 12.5px 0 0 0;}
}