<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>Fontamaing</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/javascript.js"></script>
  <!-- search-component start -->
  <template id="searchTemplate">
    <header>
      <img id="main_logo" src="img/main_logo.png" alt="main_logo">
      <input id="check_box" type="checkbox" /><span>only korea</span>
      <input id="search_bar" type="text" v-model="fontsearch" placeholder="Please write." v-on:keyup="keyupEvent" />
      <i id="research_btn" class="fas fa-redo-alt"></i>
    </header>
  </template>
  <script type="text/javascript">
    Vue.component('search-component', {
      template: '#searchTemplate',
      data: function() {
        return {
          fontsearch: ''
        }
      },
      methods: {
        keyupEvent: function(e) {
          var val = e.target.value;
          this.$emit('search', val);
        }
      }
    })
  </script>
  <!-- search-component end -->
  <!-- list-component start -->
  <template id="listTemplate">
    <div id="content">
      <div class="font_box" v-for="n in 17">
        <span class="infor"></span>
        <span class="example">ABC</span>
        <span class="font">{{font}}</span>
      </div>
    </div>
  </template>
  <script type="text/javascript">
    Vue.component('list-component', {
      template: '#listTemplate',
      props: ['font']
    })
  </script>
  <!-- list-component end -->
  <!-- footer-component start -->
  <template id="footerTemplate">
    <footer>
      <span>© 2018 Fontamaing, Inc.</span>
      <img id="sub_logo" src="img/sub_logo.png" alt="sub_logo">
    </footer>
  </template>
  <script type="text/javascript">
    Vue.component('footer-component', {
      template: '#footerTemplate'
    })
  </script>
  <!-- footer-component end -->
  <!-- search-list-component start -->
  <template id="searchlistTemplate">
    <div>
      <search-component v-on:search="searchEvent"></search-component>
      <list-component v-bind:font="fontfind"></list-component>
      <footer-component></footer-component>
    </div>
  </template>
  <script type="text/javascript">
    Vue.component('search-list-component', {
      template: '#searchlistTemplate',
      data: function() {
        return {
          fontfind: ''
        }
      },
      methods: {
        searchEvent: function(fontsearch) {
          this.fontfind = fontsearch;
        }
      }
    })
  </script>
  <!-- search-list component end -->
</head>

<body>
  <div id="app">
    <search-list-component></search-list-component>
  </div>
  <script type="text/javascript">
    Vue.config.devtools = true;
    var app = new Vue({
      el: '#app'
    })
  </script>
</body>

</html>